### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [177]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [178]:
player_count = pd.Series(df['SN'].unique())
player_count = pd.DataFrame({"Total Players":player_count.count()},index=[0])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [179]:
unique_items = pd.Series(df['Item ID'].unique()).count()
avg_price = pd.Series(df['Price'].mean(axis = 0))
numb_purchases = pd.Series(df['Purchase ID'].count())
total_rev = pd.Series(df['Price'].sum())
summary_df= pd.DataFrame({"Number of Unique Items": unique_items, "Average Price": avg_price[0], "Number of Purchases": numb_purchases[0], "Total Revenue": total_rev[0]}, index=[0])
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [180]:
total_male = df[(df['Gender']=='Male') & (pd.Series(df['SN'].unique()))].shape[0]
total_female = df[(df['Gender']=='Female') & (pd.Series(df['SN'].unique()))].shape[0]
total_other = df[((df['Gender']!='Male') & (df['Gender']!='Female')) & (pd.Series(df['SN'].unique()))].shape[0]
total_total = total_male + total_female + total_other

In [181]:
gender_df = pd.DataFrame({"Total Count": [total_male,total_female,total_other],
                          "Percentage of Players": [total_male/total_total*100,\
                                                    total_female/total_total*100,\
                                                    total_other/total_total*100]
                         }, index=['Male', 'Female', 'Other / Non-Disclosed']).\
                            style.format({"Percentage of Players":'{0:,.0f}%'
                        })
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [182]:
#Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
purchase_count = pd.Series(df.groupby("Gender")["Purchase ID"].count()).to_frame()
avg_purchase_price = pd.Series(df.groupby("Gender")["Price"].mean()).to_frame()
tots_purchase_val = pd.Series(df.groupby("Gender")["Price"].sum()).to_frame()

In [183]:
purchasing_df = pd.merge(purchase_count, avg_purchase_price, right_on="Gender", left_on="Gender")
purchasing_df1 = pd.merge(purchasing_df, tots_purchase_val, right_on="Gender", left_on="Gender")
purchasing_df1
#purchasing_df = purchase_count + avg_purchase_price + tots_purchase_val
#purchasing_df

                       Purchase ID   Price_x  Price_y
Gender
Female                         113  3.203009   361.94
Male                           652  3.017853  1967.64
Other / Non-Disclosed           15  3.346000    50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [135]:
total_count = pd.cut(df["Age"], [1, 10, 15, 20, 25, 30, 35, 40, 45],8, labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]).to_frame()
total_count=total_count.groupby("Age")["Age"].count().to_frame()
total_count

       Age
Age
<10     32
10-14   54
15-19  200
20-24  325
25-29   77
30-34   52
35-39   33
40+      7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [176]:
most_popular = df[["Item ID","Item Name","Price"]]
purchase_count = pd.Series(most_popular.groupby(["Item ID","Item Name"])["Item ID"].count())
item_price = pd.Series(most_popular.groupby(["Item ID","Item Name"])["Price"].unique())
total_val = pd.Series(most_popular.groupby(["Item ID","Item Name"])["Item ID"].count())*pd.Series(most_popular.groupby(["Item ID","Item Name"])["Price"].unique())

In [175]:
#join dfs

Item ID  Item Name
0        Splinter                                                      [5.12]
1        Crucifer                                                      [9.78]
2        Verdict                                         [14.879999999999999]
3        Phantomlight                                    [14.940000000000001]
4        Bloodlord's Fetish                                             [8.5]
5        Putrid Fan                                                   [16.32]
6        Rusty Skull                                                    [7.4]
7        Thorn, Satchel of Dark Souls                                  [9.31]
8        Purgatory, Gem of Regret                        [11.790000000000001]
9        Thorn, Conqueror of the Corrupted                            [10.92]
10       Sleepwalker                                                   [7.16]
11       Brimstone                                                    [18.25]
12       Dawne                                                         [6.12]
13       Serenity                                                      [5.64]
14       Possessed Core                                                [5.22]
15       Soul Infused Crystal                                          [14.8]
16       Restored Bauble                                               [14.2]
17       Lazarus, Terror of the Earth                                   [6.8]
18       Torchlight, Bond of Storms                                     [9.3]
19       Pursuit, Cudgel of Necromancy                                 [8.16]
20       Netherbane                                                   [16.35]
21       Souleater                                                      [5.5]
22       Amnesia                                         [13.080000000000002]
23       Crucifer                                                      [1.99]
24       Warped Fetish                                                [19.05]
25       Hero Cane                                       [26.099999999999998]
26       Unholy Wand                                                   [2.24]
27       Riddle, Tribute of Ended Dreams                                [3.3]
28       Flux, Destroyer of Due Diligence                              [2.12]
29       Chaos, Ender of the End                                        [9.9]
                                                                 ...
154      Feral Katana                                                  [17.6]
155      War-Forged Gold Deflector                                     [5.05]
156      Soul-Forged Steel Shortsword                                  [8.85]
157      Spada, Etcher of Hatred                                       [19.2]
158      Darkheart, Butcher of the Champion                             [4.9]
159      Oathbreaker, Spellblade of Trials               [21.560000000000002]
160      Azurewrath                                      [26.400000000000002]
161      Devine                                                         [8.8]
162      Abyssal Shard                                                [13.35]
163      Thunderfury Scimitar                                         [17.25]
164      Exiled Doomblade                                             [11.41]
165      Bone Crushing Silver Skewer                                  [19.44]
166      Thirsty Iron Reaver                              [9.209999999999999]
167      Malice, Legacy of the Queen                                  [14.44]
168      Sun Strike, Jaws of Twisted Visions                           [2.96]
169      Interrogator, Blood Blade of the Queen                        [8.72]
170      Shadowsteel                                                  [15.88]
171      Scalpel                                                       [5.37]
172      Blade of the Grave                                           [12.56]
173      Stormfury Longsword                                           [9.86]
174      Primitive Blade                                              [13.88]
175      Woeful Adamantite Claymore                      [13.440000000000001]
176      Relentless Iron Skewer                                        [5.68]
177      Winterthorn, Defender of Shifting Worlds                      [4.16]
178      Oathbreaker, Last Hope of the Breaking Storm    [50.760000000000005]
179      Wolf, Promise of the Moonwalker                 [26.880000000000003]
180      Stormcaller                                                   [3.36]
181      Reaper's Toll                                    [8.299999999999999]
182      Toothpick                                                    [12.09]
183      Dragon's Greatsword                             [3.2700000000000005]
Length: 183, dtype: object

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame