### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = pd.Series(df['SN'].unique())
player_count = pd.DataFrame({"Total Players":player_count.count()},index=[0])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = pd.Series(df['Item ID'].unique()).count()
avg_price = pd.Series(df['Price'].mean(axis = 0))
numb_purchases = pd.Series(df['Purchase ID'].count())
total_rev = pd.Series(df['Price'].sum())
summary_df= pd.DataFrame({"Number of Unique Items": unique_items, 
                          "Average Price": avg_price[0], 
                          "Number of Purchases": numb_purchases[0], 
                          "Total Revenue": total_rev[0]}, index=[0])
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
total_male = df[(df['Gender']=='Male') & (pd.Series(df['SN'].unique()))].shape[0]
total_female = df[(df['Gender']=='Female') & (pd.Series(df['SN'].unique()))].shape[0]
total_other = df[((df['Gender']!='Male') & (df['Gender']!='Female')) & (pd.Series(df['SN'].unique()))].shape[0]
total_total = total_male + total_female + total_other

In [7]:
gender_df = pd.DataFrame({"Total Count": [total_male,total_female,total_other],
                          "Percentage of Players": [total_male/total_total*100,\
                                                    total_female/total_total*100,\
                                                    total_other/total_total*100]
                         }, index=['Male', 'Female', 'Other / Non-Disclosed']).\
                            style.format({"Percentage of Players":'{0:,.0f}%'
                        })
gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Purchase Count	Average Purchase Price	Total Purchase Value	Avg Total Purchase per Person
purchase_count = pd.Series(df.groupby("Gender")["Purchase ID"].count()).to_frame()
avg_purchase_price = pd.Series(df.groupby("Gender")["Price"].mean()).to_frame()
tots_purchase_val = pd.Series(df.groupby("Gender")["Price"].sum()).to_frame()

In [44]:
purchasing_df = pd.merge(purchase_count, avg_purchase_price, right_on="Gender", left_on="Gender")
purchasing_df1 = pd.merge(purchasing_df, tots_purchase_val, right_on="Gender", left_on="Gender")
purchasing_df1.rename(columns={"Price_x":"Average Purchase Price","Price_y": "Total Purchase Value"})
#missing Avg Total Purchase per Person
#needs pretty formatting

,Purchase ID,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [73]:
bins = pd.cut(df["Age"], [0, 9, 14, 19, 24, 29, 34, 39, 44],8, labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"])
total_count= df.groupby(bins)["Age"].count().to_frame()
percentages = total_count["Age"]/total_count["Age"].sum()
total_count['Percentage of Players'] = percentages
total_count
#needs pretty formatting

       Age  Percentage of Players
Age
<10     23               0.029525
10-14   28               0.035944
15-19  136               0.174583
20-24  365               0.468549
25-29  101               0.129653
30-34   73               0.093710
35-39   41               0.052632
40+     12               0.015404

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
purchasing_analysis = pd.DataFrame(total_count["Age"].to_frame())
purchasing_analysis["Average Purchase Price"] = df.groupby(bins)["Price"].mean()
purchasing_analysis["Total Purchase Value"] = df.groupby(bins)["Price"].sum()
purchasing_analysis["Avg Total Purchase per Person"] = 0
purchasing_analysis

#Missing Avg Total Purchase per Person
#Needs pretty formatting

,Age,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,3.353478,77.13,0
10-14,28,2.956429,82.78,0
15-19,136,3.035956,412.89,0
20-24,365,3.052219,1114.06,0
25-29,101,2.900990,293.00,0
30-34,73,2.931507,214.00,0
35-39,41,3.601707,147.67,0
40+,12,3.045000,36.54,0

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [116]:
top_spenders = pd.DataFrame({
    "Purchase Count": df.groupby('SN')["Item ID"].count(),
    "Average Purchase Price": df.groupby('SN')["Price"].mean(),
    "Total Purchase Value": df.groupby('SN')["Price"].sum()
})
top_spenders.sort_values(by=["Total Purchase Value"], ascending=False).head(5)

#needs pretty formatting

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [148]:
most_popular = df[["Item ID","Item Name","Price"]]

#series
purchase_count = pd.Series(most_popular.groupby(["Item ID","Item Name"])["Item ID"].count())
item_price = pd.Series(most_popular.groupby(["Item ID","Item Name"])["Price"].unique())
total_val = purchase_count * item_price

In [157]:
most_popular = pd.concat([purchase_count, item_price, total_val], axis=1)
most_popular = most_popular.rename(columns={"Item ID": "Purchase Count", "Price": "Item Price", 0: "Total Purchase Value"})
most_popular.head(5)

#needs pretty formatting

                            Purchase Count Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4     [1.28]                [5.12]
1       Crucifer                         3     [3.26]                [9.78]
2       Verdict                          6     [2.48]  [14.879999999999999]
3       Phantomlight                     6     [2.49]  [14.940000000000001]
4       Bloodlord's Fetish               5      [1.7]                 [8.5]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [159]:
most_popular.sort_values(by=["Total Purchase Value"], ascending=False).head(5)
#needs pretty formatting

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],[50.760000000000005]
82,Nirvana,9,[4.9],[44.1]
145,Fiery Glass Crusader,9,[4.58],[41.22]
92,Final Critic,8,[4.88],[39.04]
103,Singed Scalpel,8,[4.35],[34.8]